
.left_side_div{
    width: 250px;
    height: 103vh; 
    position: relative; 
    background:linear-gradient(90deg, rgba(56,205,252,1) 7%, rgba(27,50,217,1) 100%); 
    position: fixed; 
    overflow-y: auto;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.left_side_div .white_area{
    background-color: rgba(255, 255, 255, 0.3); 
    padding:20px; 
    color:#fff; 
    text-align: center; 
    margin-bottom:30px;
}

.left_side_div .white_area_button{
    background-color: rgba(255, 255, 255, 0.3); 
    padding:20px; 
    color:#fff; 
    text-align: center; 
    margin-bottom:30px;
    border: none;
    width: 100%;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.mainMenu{
    width: 100%;
    display: block;
    overflow: hidden;
}
.item{
    overflow: hidden;
}
.btn{
    display: block;
    padding: 15px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    position: relative;
    text-align: left;
}
.btn .menu_img {
    vertical-align: bottom;
    margin-right: 5px;
    transition: all .2s ease-in-out;
}
.subMenu{
    background: transparent;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
    margin-bottom: 5px;
}
.subMenu a{
    display: block;
    padding: 7px 0px 7px 20px;
    color: #fff;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    
}
.subMenu a:hover{
    background: #273057;
    transition: all 0.3s;
}
.subMenu a:last-child{
    border:none;
}
.item:target .subMenu{
    max-height: 20em;
    margin-bottom: 15px;
}

.item:target .menu_img{
    transform: rotate(90deg);
}
.right_side_div{
    width: calc(100% - 225px);
    height: 100vh; 
    position: relative; 
    background-color: transparent; 
    display: flex;
    float: right;
    margin-right: -15px;
}

.member_top_bar{
    background-color: #eeeeee;
    border:1px solid #a1a1a1; 
    padding:30px 20px; 
    position: relative; 
    border-top: none;
    margin-bottom: 30px;
}

.member_top_bar h3{
    color:rgb(64, 64, 230);
}

.search_input{
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.3);
    width: 100%;
    padding: 7px 15px;
    color: #2d2d2d;
    appearance: none;
    outline: none;
}

.slider_btn_div{
    position: absolute;
    bottom: 5%;   
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
}

.slider_btn_div span{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color:rgb(179, 179, 179);
    border: 1px solid #2d2d2d;
    margin-right: 5px;
}

.slider_btn_div span.active{
    background-color: #2d2d2d;
}

.small_div_section{
    background-color: #fff;
    border-radius: 5px;  
    position: relative; 
}

.top_section{
    background: linear-gradient(90deg, rgba(56,205,252,1) 7%, rgba(27,50,217,1) 100%); 
    color:#fff; 
    padding: 10px 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom_section{
    height: 361px; 
    overflow-y: auto; 
    padding:20px 15px 0 20px;
}

.bottom_section p{
    font-size: .65vw;
}

.bottom_section a{
    font-size: .75vw;
}

.bottom_section h6{
    font-size: .95vw;
}

.bottom_section img{
    vertical-align: bottom;
}

.bs_bt{
    border-bottom:1px solid #e2e2e2;
}
.bottom_section .bs_bt{
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.bottom_section .bs_bt:last-child{
    margin-bottom: 0;
}

.bottom_section .last_two:nth-last-of-type(-n+2){
    margin-bottom: 0;
}

.adv_sec p{
    font-size: 12px;
}

.adv_sec .bs_bt{
    position: relative;
}

.adv_sec .adv_amount{
    position: absolute;
    top: -3px;
    right: 20px;
    color:rgb(30, 196, 30);
}

.adv_sec .employee_adv{
    position: absolute;
    bottom: 10px;
    right: 20px;
    color:rgb(30, 34, 230);
}

.bottom_section table{
    background-color: #fff;
}

.bottom_section table td:nth-child(4){
    min-width: 100px;
}

.bottom_section table td:nth-child(6){
    min-width: 200px;
}

table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}

.mobile_top_div{
    padding: 13px 10px 0px 10px; 
    position: fixed; 
    top: 0; 
    background: blue; 
    width: 100%; 
    z-index: 9; 
    display: none;
}

@media (max-width: 1200px) {
    .bottom_section p{
        font-size: 12px;
    }
    
    .bottom_section a{
        font-size: 14px;
    }
    
    .bottom_section h6{
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .mobile_top_div{
        display: block;
    }
    .left_side_div{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10;
        top: 0;
    }
    .right_side_div{
        width: 100%;
        margin-right: 0;
    }
    .mmb{
        margin-bottom: 15px;
    }

    .mpx{
        padding-left: 0;
        padding-right: 0;
    }

    .mpt{
        padding-top: 60px;
    }
    
    .grt-mobile-button {
		display:inline-block;
		position:absolute;
		right:10px;
        top:-3px;
		background:rgba(255, 255, 255, 0);
		color:#153d6a;
		margin:0;
		padding:0;
		cursor:pointer;
		border: 0;
        width:45px;
        z-index: 11;
        outline: none;
	}

    .line1, .line2, .line3, .line4 {
		width: 30px;
		height: 2px;
		background-color: #fff;
		margin: 6px 0;
		transition: 0.4s;
		display:block;
    }
    .grt-mobile-button_close {
		display:inline-block;
		position:absolute;
		right:10px;
        top:30px;
		background:rgba(255, 255, 255, 0);
		color:#153d6a;
		margin:0;
		padding:0;
		cursor:pointer;
		border: 0;
        width:45px;
        z-index: 11;
        outline: none;
	}

    .line1_close, .line2_close {
		width: 30px;
		height: 2px;
		background-color: #fff;
		margin: 6px 0;
		transition: 0.4s;
		display:block;
    }
    .line1_close{
        transform: rotate(-45deg);
    }
    .line2_close{
        transform: rotate(45deg);
        margin-top: -8px;
    }
    .mobile_m_show {
        display: block !important;
    }
}