<div class="container-fluid">
  <div class="left_side_div">
    <div class="col-md-12" style=" padding-top:40px">
      <div class="text-center">
        <img src="../assets/Linktera_Ailem_Logo.png" class="img-fluid padding-x-10 margin-b-10" alt="">
        <img src="../assets/people-profile-icon_24877-40756.png" class="img-fluid padding-x-10 margin-b-20" alt="">
      </div>
      <div class="white_area">
        <h4>Deniz Arkan</h4>
        <span class="font-12">Data Warehouse Analyst</span>
      </div>
      <ul class="mainMenu">
        <li class="item" id="about">
          <a href="#about" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">Linktera
            Hakkında</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt=""> Linktera Web Sitesi</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">Linedin Hesabı</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">Youtube Kanalı</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">Oryantasyon Sunumu</a>
          </div>
        </li>
        <li class="item" id="timeline">
          <a href="#timeline" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">Zaman Girişi</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-1</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-2</a>
          </div>
        </li>
        <li class="item" id="tickets">
          <a href="#tickets" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">İzinlerim</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-1</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-2</a>
          </div>
        </li>
        <li class="item" id="bank">
          <a href="#bank" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">Bilgi Bankası</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-1</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-2</a>
          </div>
        </li>
        <li class="item" id="arge">
          <a href="#arge" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">ArGe Portalı</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-1</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-2</a>
          </div>
        </li>
        <li class="item" id="message">
          <a href="#message" class="btn"><img class="menu_img" src="../assets/play_arrow-4.png" alt="">Mesajlar</a>
          <div class="subMenu">
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-1</a>
            <a href=""><img src="../assets/keyboard_arrow_right-2.png" alt="">item-2</a>
          </div>
        </li>
        <li class="item" id="help">
          <a href="#help" class="btn">Yardım</a>
        </li>
      </ul>
      <button class="white_area_button">Çıkış</button>
    </div>
  </div>
  <div class="right_side_div">
    <div class="col-md-12">
      <div style="background-color: #e2e2e2; border:1px solid #2d2d2d; padding:30px 20px; position: relative;">
        <div class="row">
          <div class="col-md-6">
            <h2 class="margin-b-0">Merhaba Deniz, Hoşgeldin</h2>
          </div>
          <div class="col-md-4">
            <input type="text" class="search_input">
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>